{erl_opts, [
    debug_info, parse_transform, lager_transform,
    {i, "./apps/ePubSub/include/"}
    ]}.
{deps, [
    {jsone,  "1.5.5"},   %% JSON Encode/Decode
    {cowboy, "2.8.0"}]}. %% HTTP Server

{plugins, [rebar3_hex]}.

{relx, [{release, {ePubSub, "0.1.0"},
         [ePubSub,
          sasl]},
        {mode, dev},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod},
                      {dev_mode,      false},
                      {include_erts,  true},
                      {include_src,   false}
                     ]
            }]}]}.
